{% extends 'base.html.twig' %}

{% block header %}
    {% include'partials/header.html.twig' %}
     {% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main id="main">
    <article class="container d-flex">
        <div>
            <img src="img/sac-de-courses.png" alt="Sac de courses">
        </div>


        <div>
            <h1>
                C’est un choix de vivre <br> <span class="red">sain</span> et <span class="red">authentique</span>. 
                <br> Votre choix.
            </h1>
        </div>
    </article>

    <article>
        <h3>Le fournisseur du moment</h3>
        
        <div>
            <div>
                <img src="img/fournisseur.png" alt="Un fournisseur">
            </div>
    
            <div>
            </div>
        </div>
    </article>
</main>

{% endblock %}
