{% extends 'base.html.twig' %}

{% block header %}
    {% include'partials/header.html.twig' %}
     {% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main id="main">
    <article class="container d-flex">
        <div>
            <img src="img/sac-de-courses.png" alt="Sac de courses">
        </div>


        <div>
            <h1>
                C’est un choix de vivre <br> <span class="red">sain</span> et <span class="red">authentique</span>. 
                <br> Votre choix.
            </h1>
        </div>
    </article>

    <article class="container">
        <h3>Le fournisseur du moment</h3>
        
        <div class="container-fluid d-flex">
            <div>
                <img src="img/fournisseur.png" alt="Un fournisseur">
            </div>
    
            <div class="resume">
                <h4>Paul Legrand</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, natus autem tempora ipsum facere quod molestias cum consectetur quam recusandae odio beatae aperiam expedita at iure dolores suscipit unde officiis aut fugit sapiente labore! Provident numquam sequi adipisci magnam dolorem voluptas incidunt voluptates velit tempora aliquam. Nostrum fugit nemo saepe.</p>
            </div>
        </div>
    </article>
</main>

{% endblock %}
