<article id="bill">
    <div>
        <div id="title" class="d-flex justify-content-around">
            <div>
                <h3>Dans votre panier</h3>
            </div>

            <div>
                <p>Modifier</p>
            </div>
        </div>

        <div id="bill-content">
            <div>
                <div>
                    <p>Avez-vous un code de réduction ? <img src="{{ asset('img/card/select.svg') }}" alt=""></p>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <p>Sous-total :</p>
                </div>

                <div>
                    <p>100,25€</p>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                 <div>
                    <p>Frais de livraison :</p>
                </div>

                <div>
                    <p>100,25€</p>
                </div>
            </div>

            <div class="d-flex justify-content-between border-grey">
                <div>
                    <p class="margin-top"><strong>TOTAL</strong></p>
                </div>

                <div>
                    <p class="margin-top"><strong>100,25€</strong></p>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div>
                    <button>Valider ma commande</button>
                </div>
            </div>
        </div>
    </div>
</article>