<h3>Promotions</h3>
<div class="d-flex justify-content-evenly" id="card">
    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/200/150" class="card-img-top" alt="" >
      <div class="card-body">
        <h5 class="card-title">Produit</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button type="button">Ajouter<img src="/img/cart.png" alt=""></button>
      </div>
    </div>
</div>