<footer id="footer">
    <div class="bigblock d-flex justify-content-between">
        <div class="d-flex">
            <div class="block">
                <h6>Naturalia Marché Bio</h6>
                <p>À propos</p>
                <p>Tarifs de livraison</p>
                <p>Naturalia pour les pros</p>
                <p>Rappel produits</p>
                <p>Astuces pour vos courses</p>
            </div>
    
            <div class="block">
                <h6>Aides & mentions</h6>
                <p>CGV</p>
                <p>Contacts et FAQ</p>
                <p>Mentions légales</p>
                <p>Données personnelles et cookies</p>
                <p>Conditions de nos offres</p>
            </div>
    
            <div class="block">
                <h6>Esprit Bio</h6>
                <p>Nos engagements</p>
                <p>Les labels</p>
                <p>Idéé recettes</p>
                <p>Notre charte de fruits et légumes</p>
            </div>
        </div>
    
        <div id="media">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-x"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
        </div>
    </div>
</footer>