<footer id="footer">
    <div class="bigblock d-flex justify-content-between">
        <div class="d-flex">
            <div class="block">
                <h6>Naturalia Marché Bio</h6>
                <p><a href="">À propos</a></p>
                <p><a href="">Tarifs de livraison</a></p>
                <p><a href="">Naturalia pour les pros</a></p>
                <p><a href="">Rappel produits</a></p>
                <p><a href="">Astuces pour vos courses</a></p>
            </div>
    
            <div class="block">
                <h6>Aides et mentions</h6>
                <p><a href="">CGV</a></p>
                <p><a href="">Contacts et FAQ</a></p>
                <p><a href="">Mentions légales</a></p>
                <p><a href="">Données personnelles et cookies</a></p>
                <p><a href="">Conditions de nos offres</a></p>
            </div>
    
            <div class="block">
                <h6>Esprit Bio</h6>
                <p><a href="">Nos engagements</a></p>
                <p><a href="">Les labels</a></p>
                <p><a href="">Idéé recettes</a></p>
                <p><a href="">Notre charte de fruits et légumes</a></p>
            </div>
        </div>
    
        <div id="media">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-x"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
        </div>
    </div>
</footer>