<nav id="nav">
    <div class="d-flex justify-content-evenly container">

        <div>
            <a href="">Nos rayons</a>
            <img src="img/card/select.svg" alt="?">
        </div>

        <div>
            <a href=""> Mes favoris</a>
            <img src="img/card/select.svg" alt="?">
        </div>

        <div>
            <a href="">Recettes bio</a>
            <img src="img/card/select.svg" alt="?">
        </div>

        <div>
            <a href="">Mes engagements</a>
        </div>
    </div>
</nav>