<nav id="nav">
    <div class="d-flex justify-content-evenly container">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Nos rayons</button>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Mes favoris</button>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Recettes bio</button>
        <a href="#">Nos engagements</a>
    </div>
</nav>