#bill{
    background: #EFEFEF;
    width: 400px;
    padding: 36px 24px;
    border-radius: 40px;
    margin-left: 300;
    margin-left: 200px;
    
        div{
            #title{
                padding: 10px 16px;
            }
            
            button{
               width: 352px;
               background: var(--Black, #250C0E);
               border-radius: 20px;
               color: var(--White, #FFFEFB);
               box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
               padding: 10px;
               margin-top: 31px;
            }

            #bill-content{
                .border-grey{
                    border-top: #868686 solid 2px;
                    border-bottom: #868686 solid 2px 
                }

                .margin-top{
                    margin-top: 15px;
                }
                div{
                    div{
                        
                        
                    }
                }
            }
        }
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        
        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            text-align: center;
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
}