 #carousel{
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}

#carousel .card img{
    border-radius: 20px;
    
}




#carousel .card button{
    color: white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#carousel .blockProduits {
    display: flex;
    overflow-x: hidden;
    overflow-x: auto;
    }

