 #carousel{
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}

#carousel .card img{
    border-radius: 20px;
    
}




#carousel .card button{
    color: white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#carousel .blockProduits {
    display: flex;
    overflow-x: hidden;
    overflow-x: auto;
    }

    #carousel .blockProduits .card-title {
        white-space: nowrap; /* Empêche le texte de passer à la ligne */
        overflow: hidden; /* Masque le texte qui dépasse */
        text-overflow: ellipsis; /* Ajoute les '...' */
    }
    
    #carousel .blockProduits .card-text {
        display: -webkit-box; /* Crée une boîte flexible */
        -webkit-line-clamp: 3; /* Limite à 3 lignes */
        -webkit-box-orient: vertical; /* Définit l'orientation verticale */
        overflow: hidden; /* Masque le texte qui dépasse */
        text-overflow: ellipsis; /* Ajoute les '...' */
    }
    