#check-out {
    margin-bottom: 188px;

    section {
        margin-bottom: 180px;
        article {


            #product-checkout {
                padding-bottom: 42px;
                margin-bottom: 48px; 

                .product-description{
                    margin-left: 20px;
                    margin-top: 5px;
                }

                img {
                    border-radius: 20px;
                }
                h3{
                    margin-bottom: 24px;
                }
                button {
                    width: 190px;
                    background-color: black;
                    color: var(--White, #FFFEFB);
                    padding: 10px 15px;
                    margin-top: 60px;
                    border-radius: 20px;
                }

                img {
                    margin-left: 20px;
                }

                
            }

            #replace-product {
                margin-bottom: 48px;
                width: 812px;
        
                label {
                    margin-left: 10px;
                    color: var(--Moody-gray, #675F5F);
        
                }
            }

            #comment-section {

       

                div {
                    form {
                        div {
                            input {
                                width: 714px;
                                padding: 24px;
                                background: var(--Light-gray, #EFEFEF);
                                color: var(--Moody-gray, #675F5F);
                                border: 1.5px solid var(--Moody-gray, #675F5F);
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
            
    }

    
    #panier-carousel{
        margin-top: 180px;
    }
    
}
}
