#check-out{
    
        section{
            article{
                #product-checkout{
                    padding-bottom: 42px;
                    margin-bottom: 48px;

                    h3{

                    }

                    div{
                        div{
                            div{
                                img{
                                    border-radius: 20px;
                                }
                            }

                            div{
                                div{
                                    margin-left: 15px;
                                    h4{

                                    }

                                    p{

                                    }

                                    span{

                                    }
                                }
                            }
                        }

                        div{
                            div{
                                
                                button{
                                    width: 190px;
                                    background-color: black;
                                    color: var(--White, #FFFEFB);
                                    padding: 10px 15px;
                                    margin-top: 60px;
                                    border-radius: 20px;
                                }

                                img{
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }

                #replace-product{
                    margin-bottom: 48px;
                    width: 812px;

                    div{
                        div{
                            h3{

                            }
                        }

                        div{
                            form{
                                div{
                                    input{

                                    }

                                    label{
                                        margin-left: 10px;
                                        color: var(--Moody-gray, #675F5F);
                                        
                                    }
                                }
                            }
                        }
                    }
                }

                #comment-section{
                    margin-bottom: 188pxw;
                    div{
                        h3{

                        }
                    }

                    div{
                        form{
                            div{
                                input{
                                    width: 714px;
                                    padding: 24px;
                                    background: var(--Light-gray, #EFEFEF);
                                    color: var(--Moody-gray, #675F5F);
                                    border: 1.5px solid var(--Moody-gray, #675F5F);
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
