 #engagement{
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}


#engagement {
    background-color: var(--white-naturalia);
   
}

#engagement .branche{ 
    background-image: url(../img/engagement/about/branche.png);
    background-repeat: no-repeat;
    background-position: top center;
    flex-direction: row;
    padding: 150px;
}

.one{
    padding-inline: 72px;
}

.one div{
    text-align: center;
}

.engagement h1{
    margin-bottom: 63px;
}


#engagement h1{
    margin-bottom: 63px;
}

#engagement #top{
    margin-bottom: 32px;
}

#engagement #top .image{
    margin-left: 120px;
}

#engagement #middle{
    margin-bottom: 32px;
}

#engagement #middle .image{
    margin-left: 320px;
}

#engagement #bottom .image{
    margin-right: 225px;
}

#engagement #middle .paragraph{
    margin-top: 120px;
}

#engagement #top .paragraph{
    margin-top: 80px;
}