header{
    background-color: #fff9e7;
}
#header nav{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}



#header input {
    border-radius: 50px;
    width: 400px;
    margin-top: 10px;
 /*    position: absolute;
    right: 800px;
    top: 20px; */

}

#header .fa-solid{
    position: absolute;
    right: 715px;
    top: 34px;
}

