@font-face {
    font-family: 'Lora';
    src: url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'
   );
}

@font-face {
    font-family: 'Noto';
    src: url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

h1{
    font-family: 'Lora';
    font-weight: bold;
}

h2{
    font-family: 'Lora';
    font-weight: bold;
}

h3{
    font-family: 'Lora';
    font-weight: bold;
}

h4{
    font-family: 'Lora';
    font-weight: bold;
}

h5{
    font-family: 'Lora';
    font-weight: bold;
}

h6{
    font-family: 'Lora';
    font-weight: bold;
}

p{
    font-family: 'Noto';
}

main{
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}

main{
    background-color: var(--yellow-naturalia);
    
}

main .red{
    color: #840000;            /* On met en rouge les mots du titre grâce à la classe Red */
    margin-top: 72px;
}
#main h1{
    text-align: center;         /* Margin-top pour positionner le titre */
    margin-top: 180px;         /* On centre le titre */
}

#main .fournisseur{
    margin-left: 125px;  /* Espace entre la photo et le paragraphe */
}

#main #title{
    text-align: center; 
}

#p-one button{
    width: 295px;
    height: 44px;
    color: var(--white-naturalia );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);       /* Bouton en dessous de title */
    border-radius: 20px;
    background: var(--black-naturalia);
    margin-top: 27px;
    margin-bottom: 72px;
}

#main #p-two {
    margin-top: 72px;
}

#main #p-two div img {
    width: 400px;
    height: 267px;
}

#p-two h3{
    margin-bottom: 24px;
}

#main .resume{
    margin-left: 125px;
    margin-top: 30.5px;
    text-align: left;
}

#main .resume h6{
    padding: 10px;
}

#main .resume p{
    padding: 10px;
}

#main #p-two .resume button{
    width: 190px;
    height: 44px;
    color: var(--white-naturalia);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    background: var(--black-naturalia);      /* Bouton fournisseur du moment */
    margin-top: 10px;
}

#main section{
    margin-top: 72px;
}

#main section h3{
    margin-bottom: 24px;
}

#main section div div div{
    background-color: var(--red-naturalia);

    width: 155px;
    height: 155px;
    text-align: center;         /* Ici on gère la dernière partie de la page home */
    border-radius: 360px;
    padding: 45px;
}                             

#main section div div figcaption p {
    text-align: center;
   
}

#main section div div figcaption{
    margin-top: 15px;
    margin-bottom: 160px;
}

#newsletter{
    margin-top: 72px;
    text-align: center;
}

#main form div input{
    border-radius: 50px;
    width: 400px;
    margin-top: 10px;
    border: 1px solid var(--black-naturalia);
    padding: 5px;
}
#main input::placeholder{
    color: var(--black-naturalia);
    
 }

 #main form div img{
    position: relative;
    right: 40px;
 }

 #main form div img:hover{
    transform: translate(3px);
    transform: scale(1.2)
 }

 #main button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}


