#carousel{
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}


#nav a{
    text-decoration: none;
    color: black;
    margin-top: 6px;
}