#category {
    --black-naturalia: #250C0E;
    --white-naturalia: #FFFEFB;
    --red-naturalia: #840000;
    --yellow-naturalia: #FFF9F2;
    --grey-naturalia: #EFEFEF;
}

/* #category{
    background-color: var(--yellow-naturalia);
    text-align: center;
}

#category h1{
    text-align: center;
}

.category{
    background-color: var(--yellow-naturalia);
}
 
.category a {
    color: var(--red-naturalia);
    border: solid 1px var(--red-naturalia);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--yellow-naturalia);
} */

.category a:hover{
    color: var(--white-naturalia);
    background-color: var(--red-naturalia);
}

.category li a {
    color: #840000;
    text-decoration: none;
    list-style: none;
}

