{% extends 'base.html.twig' %}

{# {% block title %}Hello RecetteDuMomentController!{% endblock %} #}

{% block body %}

<div class="block-affiche-r">

    <div>
            <h3>Recette: {{ recette.nom }}</h3>
            <img src="{{recette.image}}" alt="">
    </div>
   
    <div>
        <p>description recette: {{ recette.description }}</p>
        <h2>Produits associés :</h2>
        {% if produits is not empty %}
        
        {% else %}
             <p>Aucun produit associé à cette recette.</p>
        {% endif %}
    
            {{ include("partials/carousel.html.twig",{"products":produits}) }}	
    </div>
</div>
{% endblock %}
