{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-start">
        <div id="navigationProfil" class="col">
            <a href="#">Tableau de bord</a>
            <a href="#">Mes avantages<br>fidélité</a>
            <a href="#">Ma wallet</a>
            <a href="#">Mon historique</a>
            <a href="#">Mon profil</a>
        </div>
        <section id="global" class="col">
            <div id="profil">
                <h3>Nom</h3>
                <p>statut: Lorem ipsum dolor, sit amet consectetur.</p>
                <p>statut: Lorem ipsum dolor, sit amet consectetur.</p>
            </div>
                <div class="d-flex flex-row mb-3">
                    <div class="p-2" id="impactSocial">
                        <h4>Mon impact social</h4>
                        <img src="/img/pourcentage.png" alt="...">
                        <p>78%</p>
                    </div>
                    <div class="p-2" id="points">
                        <h4 >Mes points Naturalia</h4>
                        <p><span>120</span></p>
                        <p>points</p>
                    </div>
                    <div class="p-2" id="magasinFavori">
                        <h4>Mon magasin favori</h4>
                        <img src="https://picsum.photos/200" alt="...">
                        <p>lorem</p>
                    </div>
                </div>
        </section>
        <div>
        <h3>Mon historique</h3>
        {{ include('/partials/carousel.html.twig', {'products':historique})}}
    </div>
    <div>
        <h3>Mes coups de coeurs</h3>
        {# {{ include('/partials/carousel.html.twig', {'products':productsSelection})}} #}
    </div>
    </div>
</div>
{% endblock %}
