{% extends 'base.html.twig' %}

{# {% block title %}{{productDetail.nom}}{% endblock %} #}

{% block body %}



        <div id="produit" class="d-flex justify-content-evenly">
            <div id="image">
                <img src="https://picsum.photos/300/300" alt="">
                <div id="favourite">
                <img src="/img/favourite.png" alt="">
                </div>
            </div>
            <div>
                <div id="description">
                    <h3>Produit</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div id="label">
                    <img src="/img/logo-nature-progres.png" alt="">
                    <img src="/img/logo-ecocert-colour.png" alt="">
                    <img src="/img/agribio.png" alt="">
                    <img src="/img/logobio.png" alt="">
                </div>
                <div id="ajouter">
                    <button id="ishaana"><a href="{{ path('cart_add', { id: produit.id }) }}">Ajouter au panier<img src="/img/cart.png" alt=""></a></button>
                </div>
            </div>
        </div>
    <div class="d-flex justify-content-center" id="btn">
        <button>Origine</button>
        <button>Marque</button>
        <button>Ingrédient</button>
        <button>Producteur</button>
    </div>
    <div>
        <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>Quam fugiat adipisci doloribus suscipit pariatur, modi facilis delectus molestiae.</p>
    </div>
   <div id="selections">
        <div class="container">
            <h3>Découvrez nos sélections</h3>
        </div>
        <div class="carousel container yellow">
       {{ include('/partials/carousel.html.twig', {'products':productsSelection}) }}
        </div>
   </div>

{% endblock %}
