{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/engagement.css') }}">
{% endblock %}

{% block title %}Nos Engagements{% endblock %}

{% block body %}
<main id="engagement">
    <section>
        <div>
            <img style="width: 100%;" src="img/engagement/about/Rectangle-42.png" alt="">
        </div>
    </section>


<section class="one">
    <div class="justify-content-center">
        <h1>Nos Engagements</h1>
    </div>

    <div class="">
        <div>
            <div class="d-flex container">
                <div class>
                    <h3>Local</h3>  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, neque necessitatibus.</p>
                </div>

                <div>
                    <h3>Environnement</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nisi aliquam.</p>
                </div>

                <div>
                    <h3>Local</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, corrupti iure.</p>
                </div>
            </div>

            <div class="d-flex container justify-content-around">
                <div>
                    <h3>Santé</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, omnis odit.</p>
                </div>

                <div>
                    <h3>Qualité</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, placeat accusantium!</p>
                </div>

                <div>
                    <h3>Santé</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsa quis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="branche">
    <div class="d-flex justify-content-around" id="top">
        <div class="paragraph">
            <div>
                <h3>Histoire</h3>
            </div>
            <div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
        </div>

        <div class="image">
            <img src="{{ asset('img/engagement/about/Rectangle-36.png') }}" alt="">
        </div>
    </div>

    <div class="d-flex justify-content-around" id="middle">
        <div class="image">
            <img src="{{ asset('img/engagement/about/Rectangle-35.png') }}" alt="">
        </div>
        <div class="paragraph">
            <div>
                <h3>Actualités</h3>
            </div>
            <div >
                <p style="width: 507px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eos corporis, ipsam similique reiciendis earum deleniti saepe totam reprehenderit aperiam cupiditate eveniet unde corrupti officia a asperiores consequatur.</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-around" id="bottom">
        <div class="paragraph">
            <div>
                <h3>L'avenir avec Naturalia avec vous</h3>
            </div>
            <div>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>
        </div>

        <div class="image">
            <img src="{{ asset('img/engagement/about/Rectangle-34.png') }}" alt="">
        </div>
    </div>
</section>
</main>
{% endblock %}

